body {
  font-family: 'Montserrat', sans-serif;
  background: #150E28;
  color: #ffffff
}

.navbar {
  border-bottom: 1px solid #ffffff;
}

.right {
  background: url('./assets/man-wearing-smart-glasses-touching-virtual-screen.png') center center/cover no-repeat;
  background-size:cover;
}

.accordion {
  border-bottom: 1px solid #D434FE;
}

.partners {
  border-bottom: 1px solid #ffffff
}

.lock {
  background: url('./assets/Vector.png') center center/cover no-repeat;
  height: 100%;
  background-size:cover;
}